In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
df = pd.read_csv("../data/new_lstm_data_201415_turnover.csv")

In [3]:
df.head(10)

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,PB,PE,Volume,turnover_1
0,1,2014/1/2,12.12,12.30,12.05,12.23,0.992657,23.038914,5.962237e+08,10.692867
1,1,2014/1/3,12.15,12.16,11.78,11.93,0.968308,22.473773,6.566313e+08,11.776235
2,1,2014/1/6,11.89,12.00,11.50,11.67,0.947205,21.983984,6.792804e+08,12.182431
3,1,2014/1/7,11.53,11.76,11.51,11.63,0.943958,21.908632,3.939776e+08,7.065719
4,1,2014/1/8,11.64,11.95,11.53,11.76,0.954510,22.153526,5.384362e+08,9.656486
5,1,2014/1/9,11.69,11.99,11.65,11.82,0.959379,22.266554,5.768705e+08,10.345780
6,1,2014/1/10,11.78,11.95,11.66,11.82,0.959379,22.266554,4.504877e+08,8.079190
7,1,2014/1/13,11.80,11.91,11.49,11.60,0.941523,21.852118,5.593752e+08,10.032012
8,1,2014/1/14,11.57,11.78,11.45,11.72,0.951263,22.078174,4.207153e+08,7.545241
9,1,2014/1/15,11.70,11.74,11.56,11.67,0.947205,21.983984,3.467330e+08,6.218420

In [4]:
stk_num = df.Stkcd.value_counts().shape[0]
print("different stk_id num: {}".format(stk_num))

different stk_id num: 322

In [5]:
print("original shape: {}".format(df.shape))
tmp = df.dropna()
print("dropna shape: {}".format(tmp.shape))

original shape: (148376, 10)
dropna shape: (148376, 10)

In [6]:
tmp = df.Stkcd.value_counts().keys()
tmp = list(tmp)
print(len(tmp))
print(tmp[:10])

322
[601600, 600123, 600362, 600216, 869, 600642, 601666, 600875, 600863, 601628]

In [7]:
feat_col = ['Opnprc', 'Hiprc', 'Loprc', 'Clsprc', 'PB', 'PE', 'Volume', 'turnover_1']

In [8]:
df["Trddt"].values

array(['2014/1/2', '2014/1/3', '2014/1/6', ..., '2015/12/29',
       '2015/12/30', '2015/12/31'], dtype=object)

In [9]:
std_scale = StandardScaler()
mia_scale = MinMaxScaler()

In [10]:
std_res = std_scale.fit_transform(df[['Opnprc', 'Hiprc', 'Loprc', 'Clsprc', 'PB', 'PE','Volume', 'turnover_1']])
mia_res = mia_scale.fit_transform(df[['Opnprc', 'Hiprc', 'Loprc', 'Clsprc', 'PB', 'PE','Volume', 'turnover_1']])

In [11]:
print(std_res[:2])

[[-0.36460615 -0.37017577 -0.35436831 -0.35963612 -0.7634889  -0.06619672
  -0.15522128 -0.49193383]
 [-0.3629639  -0.3776468  -0.36949293 -0.37602127 -0.77033466 -0.06647481
  -0.11712909 -0.47494141]]

In [12]:
df.loc[[0,1]]

,Stkcd,Trddt,Opnprc,Hiprc,Loprc,Clsprc,PB,PE,Volume,turnover_1
0,1,2014/1/2,12.12,12.30,12.05,12.23,0.992657,23.038914,5.962237e+08,10.692867
1,1,2014/1/3,12.15,12.16,11.78,11.93,0.968308,22.473773,6.566313e+08,11.776235

In [23]:
columns=['Opnprc', 'Hiprc', 'Loprc', 'Clsprc', 'PB', 'PE','Volume', 'turnover_1']
tmp_df = pd.DataFrame(std_res, columns=columns)
print(tmp_df.shape)
tmp_df.head()

(148376, 8)

,Opnprc,Hiprc,Loprc,Clsprc,PB,PE,Volume,turnover_1
0,-0.364606,-0.370176,-0.354368,-0.359636,-0.763489,-0.066197,-0.155221,-0.491934
1,-0.362964,-0.377647,-0.369493,-0.376021,-0.770335,-0.066475,-0.117129,-0.474941
2,-0.377197,-0.386185,-0.385178,-0.390222,-0.776268,-0.066716,-0.102847,-0.468570
3,-0.396904,-0.398993,-0.384618,-0.392406,-0.777180,-0.066753,-0.282755,-0.548825
4,-0.390882,-0.388853,-0.383497,-0.385306,-0.774214,-0.066632,-0.191661,-0.508189

In [28]:
tmp_df["x"] = df.Stkcd.tolist()

In [29]:
len(tmp_df["x"].value_counts().keys())

322

In [30]:
len(df["Stkcd"].value_counts().keys())

322

In [31]:
tmp_df.head()

,Opnprc,Hiprc,Loprc,Clsprc,PB,PE,Volume,turnover_1,x
0,-0.364606,-0.370176,-0.354368,-0.359636,-0.763489,-0.066197,-0.155221,-0.491934,1
1,-0.362964,-0.377647,-0.369493,-0.376021,-0.770335,-0.066475,-0.117129,-0.474941,1
2,-0.377197,-0.386185,-0.385178,-0.390222,-0.776268,-0.066716,-0.102847,-0.468570,1
3,-0.396904,-0.398993,-0.384618,-0.392406,-0.777180,-0.066753,-0.282755,-0.548825,1
4,-0.390882,-0.388853,-0.383497,-0.385306,-0.774214,-0.066632,-0.191661,-0.508189,1

In [33]:
df.Stkcd.shape

(148376,)

In [34]:
len(df.Stkcd.tolist())

148376

In [47]:
df.Trddt.values

array(['2014/1/2', '2014/1/3', '2014/1/6', ..., '2015/12/29',
       '2015/12/30', '2015/12/31'], dtype=object)